//
html, body {
  margin: 0;
  padding: 0;
}

.interface {
  margin: 0;
  padding: 0;
  width: 100%;

  input {
  	width: 100%;
  }
}

.refresh-btn {
	margin-left: 8px;
}

.notebook {
	border: 1px solid black;
	margin: 1px;
	padding: 1px;
}
