// General
html, body {
  margin: 0;
  padding: 0;
}

.root {
  margin: 0;
  padding: 0;

  //border: 1px solid red;

  .menu {
    margin: 0;
    padding: 0;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        line-height: 40px;
      }

    }

    border-right: 1px solid gray;
    //border: 1px solid green;
  }

  .screen {
    margin: 0;
    padding: 0;

    // border: 1px solid blue;
  }

}
