
.refresh-btn {
  margin-left: 8px;
}

.notebook {
  border: 1px solid black;
  margin: 1px;
  padding: 1px;
}

.notebook-menu {
  padding: 0;
  margin-bottom: 4px;

  line-height: 40px;

  .title {
    font-weight: bold;
  }

}

.notebook-selected {
  border: 1px solid black;
}
