build/
dist/
node_modules/
**/.DS_Store
__pycache__/
*.py[cod]
*$py.class
.cache
.coverage*
tests/report.xml
dist
*.egg-info
.eggs/
.pytest_cache
tests/emails/*.html
reports/*.xml
logs/*
viewer/static/app.bundle.js
viewer/static/index.html
viewer/static/main.css
